name: Production Stage

on:
  repository_dispatch:
    types: [app_delivery]

jobs:
  update:
    name: Update application version
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    env:
      APP_NAME: ${{ github.event.client_payload.app_name }}
      APP_VERSION: ${{ github.event.client_payload.app_version }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Update image version
        run: |
          cd module-app
          sed -i "s/admin-service:.*\"/admin-service:${{ env.APP_VERSION }}\"/" c9-03-admin-service.tf
          sed -i "s/department-service:.*\"/department-service:${{ env.APP_VERSION }}\"/" c9-04-department-service.tf
          sed -i "s/employee-service:.*\"/employee-service:${{ env.APP_VERSION }}\"/" c9-05-employee-service.tf
          sed -i "s/gateway-service:.*\"/gateway-service:${{ env.APP_VERSION }}\"/" c9-06-gateway-service.tf
          sed -i "s/organization-service:.*\"/organization-service:${{ env.APP_VERSION }}\"/" c9-07-organization-service.tf
      - name: Commit updated manifests
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update ${{ env.APP_NAME }} to version ${{ env.APP_VERSION }}"
          branch: master
